.body{
    font-family: 'Roboto', sans-serif;


}
/* card iniziale con bottone - Intestazione  */
.intestazione{
    height: 50vh;
    width: 500px;
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: column;
    color: white;
}
.card-immage{
    background: url(./media/wave2.svg) bottom no-repeat, url(media/wave1.svg) 0% 97% no-repeat, linear-gradient(rgb(0,0,0),rgba(255, 255, 255, 0)), url(./media/header.jpg) top no-repeat;
    height: 60vh;
}
.card-title{
    font-size: 60px;
    font-family: 'Righteous', cursive;
    line-break: auto;
    margin-left: 50px;
}
.card-text{
    width: 500px;
    margin-left: 50px;
    font-size: 20px;
    
}
.btn{
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    border-radius: 0%;
    margin-left: 50px;
    background-color: goldenrod;
    border: 0;
    color: black;
    width: 200px;
}
/* inizio header + card con icona e Immagine*/
.card-box{
    
    
    display: flex;
    justify-content: space-evenly;
}
.card-con-immagine-1{
    width: 350px;
    height: 500px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 39%, rgba(0,0,0,0.5) 84%, rgba(0,0,0,1) 100%), url(./media/1.png);
    background-size: cover;
    
}
.titolo-card-1{
    width: 100%;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    line-break: auto;
    margin-bottom: 70px;
    border-bottom: 3px solid orange;
}
.card-con-immagine-2{
    width: 350px;
    height: 500px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 39%, rgba(0,0,0,0.5) 84%, rgba(0,0,0,1) 100%), url(./media/2.png);
    background-size: cover;
    
}
.titolo-card-2{
    width: 100%;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    line-break: auto;
    margin-bottom: 70px;
    border-bottom: 3px solid orange;
}
.card-con-immagine-3{
    width: 350px;
    height: 500px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 39%, rgba(0,0,0,0.5) 84%, rgba(0,0,0,1) 100%), url(./media/3.png);
    background-size: cover;
    
}
.titolo-card-3{
    width: 100%;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    line-break: auto;
    margin-bottom: 70px;
    border-bottom: 3px solid orange;
}
.card-con-immagine-4{
    width: 350px;
    height: 500px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 39%, rgba(0,0,0,0.5) 84%, rgba(0,0,0,1) 100%), url(./media/4.png);
    background-size: cover;
    
}
.titolo-card-4{
    width: 100%;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    line-break: auto;
    margin-bottom: 70px;
    border-bottom: 3px solid orange;
}