.body{
    font-family: 'Roboto', sans-serif;


}
/* card iniziale con bottone  */
.intestazione{
    height: 50vh;
    width: 500px;
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: column;
    color: white;
}
.card-immage{
    background: url(./media/wave2.svg) bottom no-repeat, url(media/wave1.svg) 0% 97% no-repeat, linear-gradient(rgb(0,0,0),rgba(255, 255, 255, 0)), url(./media/header.jpg) top no-repeat;
    height: 60vh;
}
.card-title{
    font-size: 60px;
    font-family: 'Righteous', cursive;
    line-break: auto;
    margin-left: 50px;
}
.card-text{
    width: 500px;
    margin-left: 50px;
    font-size: 20px;
    
}
.btn{
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    border-radius: 0%;
    margin-left: 50px;
    background-color: goldenrod;
    border: 0;
    color: black;
    width: 200px;
}
